/* ==UserStyle==
@name         Dark ProtonMail by Mew
@description  Dark theme ProtonMail.
@version      0.2.0
@namespace    gitlab.com/vednoc/dark-protonmail
@homepageURL  https://gitlab.com/vednoc/dark-protonmail
@updateURL    https://gitlab.com/vednoc/dark-protonmail/raw/master/protonmail.user.css
@author       vednoc
@license      MIT
@preprocessor stylus

@var text b_radius "Custom border radius" 4px
@var text max_width "Custom width for row layout" 1000px
@var text ui_font "Custom UI font" "'custom_font', Arial, Helvetica Nue, Helvetica, sans-serif !important"

@var color dark    "Dark color.   " #222222
@var color darker  "Darker color. " #2f2f2f
@var color light   "Light color.  " #d1d1d1
@var color lighter "Lighter color." #c9c9c9
@var color icon    "Icon color.   " #e1e1e1
@var color accent  "Accent color. " #7289da
@var color yellow  "Yellow color. " #f0c674
@var color orange  "Orange color. " #de935f
@var color red     "Red color.    " #a54242
@var color magenta "Magenta color." #b294bb
@var color violet  "Violet color. " #85678f
@var color blue    "Blue color.   " #5f819d
@var color cyan    "Cyan color.   " #5e8d87
@var color green   "Green color.  " #8c9440
@var color white   "White color.  " #ffffff
@var color shadow  "Shadow color. " #00000020

==/UserStyle== */

@-moz-document regexp("https?://(mail|beta).protonmail.com/.*") {
    :root {
        scrollbar-color: var(--darker) var(--dark);
        --note    : "Dark-ProtonMail v0.2.0";
        --dark    : dark;
        --darker  : darker;
        --light   : light;
        --lighter : lighter;
        --accent  : accent;
        --icon    : icon;
        --shadow  : shadow;
        --yellow  : yellow;
        --orange  : orange;
        --red     : red;
        --magenta : magenta;
        --violet  : violet;
        --blue    : blue;
        --cyan    : cyan;
        --green   : green;
        --white   : white;
        --t       : transparent !important;
        --width   : max_width;
        --radius  : b_radius;
        --ui-font : ui_font
    }

    // * Use stylus-lang variables with CSS variables.
    $dark    = var(--dark);
    $darker  = var(--darker);
    $light   = var(--light);
    $lighter = var(--lighter);
    $accent  = var(--accent);
    $icon    = var(--icon);
    $shadow  = var(--shadow);
    $bshadow = var(--box-shadow);
    $yellow  = var(--yellow);
    $orange  = var(--orange);
    $red     = var(--red);
    $magenta = var(--magenta);
    $violet  = var(--violet);
    $blue    = var(--blue);
    $cyan    = var(--cyan);
    $green   = var(--green);
    $white   = var(--white);
    $t       = var(--t);
    $radius  = var(--radius);

    // * Color mixin.
    // ? All colors -> colors: $light, $darker, $dark;
    // ? Only background-color -> colors: 0, 0, $dark;
    colors(x, y, z) {
        if x is a 'call' { color: x !important; }
        if y is a 'call' { border-color: y !important; }
        if z is a 'call' { background-color: z !important; }
    }

    // * Border radius mixin.
    radius() { border-radius: arguments; }

    /* Scrollbars. */
    ::-webkit-scrollbar {
        width: 10px !important;
        &-scrollbar-thumb {
            border: 1px solid $dark;
            background-color: $darker;
            &:hover, &:active { background-color: $accent; }
        }
        &-scrollbar-track { background-color: $dark; }
    }


    body {
        color: var(--lighter);
        background: var(--dark) !important;
    }

    h1, h2, h3, h4, h5, h6, strong {
        color: var(--lighter) !important;
    }

    a, p a {
        text-decoration: none;
        color: var(--accent);
    }

    ::placeholder { colors: $lighter, 0, 0; }

    input {
        color: var(--lighter) !important;
        background: none !important;
    }

    select {
        color: var(--light) !important;
        background-color: var(--darker);
    }

    blockquote {
        border-left-color: var(--accent);
    }

    section {
        border-color: var(--darker) !important;
    }

    kbd {
        color: var(--lighter);
        background-color: var(--dark);
        box-shadow: inset 0 0 0 1px var(--darker);
    }

    .pm_panel {
        color: var(--lighter);
    }
    .pm_panel.alt {
        background-color: transparent;
    }

    // * Login page.
    #login {
        background-image: none !important;
        .pm_panel-login__inner {
            padding: 20px 30px 0;
            radius: $radius;
            colors: 0, $darker, $dark;
            box-shadow: 0 4px 16px -2px $shadow;
            .link { colors: $light, 0, 0; }
            input { colors: $lighter, $darker, 0; }
        }
        // `Beta` promotion.
        .pm_panel-bottom {
            padding: 10px 20px;
            text-align: center;
        }
        [class*="link-signup-button"] {
            radius: $radius;
            transition: 0.15s ease;
            colors: $light, $darker, $darker;
            &:hover { colors: 0, 0, $dark; }
        }
        #pm_footer { colors: $lighter, 0, 0; }
    }

    // * Navbar.
    header[class*="header"] {
        min-height: 50px;
        colors: $lighter, 0, $dark;
        box-shadow: 0 1px 0 0 $darker;
        // Re-imagine the logo.
        [class*="securedDesktop-logo" i] {
            height: 51px;
            padding: 0;
            colors: $light, 0, $t;
            &::before {
                width: unset;
                height: unset;
                font-size: 1.4em;
                content: "ProtonMail";
                transition: 0.15s ease;
                background: none;
            }
            &:hover { colors: $accent, 0, 0; }
        }
        // Navigation on the right.
        .navigation > {
            li {
                min-height: 51px;
                colors: $lighter, 0, 0;
                &:hover { colors: $light, $accent, 0; }
                &.active { colors: $accent, $accent, $darker; }
            }
        }
        // Sub-nav height reset.
        >[class*="Desktop-container"] {
            height: auto;
            max-height: 51px;
        }
    }

    // * Search bar.
    [class*="searchForm-container"] {
        // Search area.
        .search-form-fieldset {
            radius: $radius;
            colors: $lighter, 0, $dark;
            box-shadow: 0 0 0 1px inset $darker;
        }
        // Dropdown.
        .searchForm-advanced-container {
            radius: $radius;
            colors: 0, 0, $dark;
            box-shadow: 0 0 0 1px $darker, 0 2px 8px 0 $shadow;
            // Fields background reset.
            [class*="searchForm-advanced-"] { colors: $lighter, 0, $t; }
            label, .fa { color: $light; }
            // Inputs and buttons.
            input, button {
                radius: $radius;
                box-shadow: 0 1px 4px 0 inset $shadow;
                colors: 0, $darker, 0;
                &:focus { colors: 0, $blue, 0; }
                &[type="submit"] { &, .fa { colors: $white, $blue, $blue; }}
            }
            // Select menus.
            .pm_select {
                radius: $radius;
                colors: 0, 0, $t;
                box-shadow: 0 0 0 1px inset $darker;
                select {
                    radius: $radius;
                    box-shadow: 0 1px 4px 0 inset $shadow;
                    &:focus { box-shadow: 0 0 0 1px inset $blue; }
                }
            }
        }
    }

    // ? Global -> Custom UI font.
    body, .pm_opensans { font-family: var(--ui-font); }

    // * Global -> Custom button colors.
    .fa.fa {
        color: $lighter;
        &-star { colors: $accent, 0, 0; }
        &-trash-o { &, &:hover { colors: $red, 0, 0; }}
        &-inbox { &, &:hover { colors: $blue, 0, 0; }}
        &-archive { &, &:hover { colors: $cyan, 0, 0; }}
        &-ban { &, &:hover { colors: $orange, 0, 0; }}
        &-times-circle-o { &, &:hover { colors: $red, 0, 0; }}
        &-send { &, &:hover { colors: $green, 0, 0; }}
        &-folder { &, &:hover { colors: $yellow, 0, 0; }}
        &-search { &, &:hover { colors: $lighter, 0, 0; }}
        // ? Inherit label's custom color.
        &[data-label-id] { color: inherit !important; }
    }

    // * Global -> Change layout buttons.
    .appConfigBody-rows .chooseLayoutBtns-btn-rows,
    body:not(.appConfigBody-rows) .chooseLayoutBtns-btn-column {
        box-shadow: 0 2px 4px 0 inset $shadow !important;
    }

    // * Global -> Loader.
    .pm-loader-fullpage { colors: 0, 0, $dark; }

    // * Global -> Loading.
    #pm_loading {
        colors: 0, 0, $dark;
        box-shadow: 0 2px 8px 0 $shadow;
        &::after {
            border: 5px solid $darker;
            border-top-color: $accent;
        }
        svg path { fill: $accent; }
    }

    // * Global -> Atom lodaer.
    #pm_slow, #pm_slow2, [class*="loadingUnlock-"] {
        colors: $lighter, 0, $dark;
        .atomLoader {
            &-proton { colors: 0, 0, $light; }
            &-item, &-item2, &-item3 { colors: 0, $lighter, 0; }
            &-text { colors: $lighter, 0, 0; }
        }
    }

    // * Global -> Storage.
    .storageBar {
        colors: 0, 0, $darker;
        .storageBar-progress { colors: 0, 0, $accent; }
    }

    // * Global -> Checkboxes.
    .customCheckbox-input {
        + .customCheckbox-mask {
            colors: 0, $darker, $dark;
            background-image: none;
            ../:checked + .customCheckbox-mask {
                position: relative;
                &::before {
                    content: "";
                    position: absolute;
                    top: 1px; left: 4px;
                    width: 6px; height: 10px;
                    border-right: 2px solid;
                    border-bottom: 2px solid;
                    transform: rotate(45deg);
                    colors: 0, $light, 0;
                }
            }
        }
    }

    // * Global -> Radials.
    .customRadio-input {
        + .customRadio-mask {
            background-image: none;
            colors: 0, $darker, $dark;
            ../:checked + .customRadio-mask {
                box-shadow: 0 0 0 3px inset $darker, 0 0 0 10px inset $accent;
            }
        }
    }

    // * Global -> Dropdowns.
    .pm_dropdown {
        radius: $radius !important;
        colors: 0, $darker, $dark;
        box-shadow: 0 2px 8px -1px $shadow;
        .dropdown-folder-title { colors: 0, $darker, 0; }
        // Text color; exludes colored labels.
        a, span:not([style]), button { colors: $lighter, $darker, 0; }
        // Folders.
        .scrollbox-container {
            colors: 0, $darker, $t;
            background-image: none;
            /* Remove weird gradients. */
            &::before, &::after { display: none; }
        }
    }

    // * Welcome section.
    #pm_view #pm_latest {
        header {
            padding: 8px 24px;
            colors: $light, $darker, 0;
        }
        section {
            padding: 0.5rem;
            margin: 8px;
            radius: $radius;
            span { colors: $lighter, 0, 0; }
            strong { colors: $accent, 0, 0; }
            img { filter: invert(1) hue-rotate(180deg) opacity(0.2); }
        }
    }

    // * Command pallete.
    [class*="commandPalette-container"] {
        radius: $radius;
        colors: 0, 0, $dark;
        box-shadow: 0 2px 8px -2px $shadow;
        // Input section.
        [class*="autocomplete-c"] {
            radius: $radius;
            colors: 0, 0, $dark;
            box-shadow: 0 0 0 1px $darker;
        }
        // Commands.
        [class*="Emails-"] {
            max-height: 150px;
            colors: 0, 0, $t;
            // Items.
            .needsclick {
                transition: 0.15s ease;
                colors: 0, $darker, 0;
                &[aria-selected="false"] { colors: $lighter, 0, $dark; }
                &[aria-selected="true"], &:hover { colors: $light, 0, $darker; }
            }
        }
    }

    // * Sidebar.
    #ptSidebar {
        border-right: 1px solid;
        colors: 0, $darker, $dark;
        height: calc(100% - 51px);
        // box-shadow: 1px 0 0 0 $darker;
        .sidebarApp-item {
            // List items.
            .navigationItem-item {
                transition: 0.15s ease;
                colors: $lighter, 0, 0;
                .navigationItem-counter { color: inherit; }
                .navigationItem-aside { background: none; }
            }
            &:hover:not(.active) > a { colors: $light, 0, $darker; }
            &.active {
                colors: 0, 0, $darker;
                .fa, span { colors: $light, 0, 0; }
            }
            // Remove the gradient.
            &::after { background: none !important; }
            // Use filled style for starred messages icon.
            .fa.fa-star-o {
                colors: $accent, 0, 0;
                &::before { content: "\f005"; }
            }
        }
        // Labels.
        .sidebarApp-link { colors: $lighter, 0, 0; }
        .menuLabel-item {
            .menuLabel-link { colors: $lighter, 0, 0; }
            &:hover .menuLabel-link { colors: $light, 0, 0; }
        }
        // Compose/back button.
        [class*="-compose"], [class*="-back"] {
            margin: 16px 0;
            radius: $radius;
            transition: 0.15s ease;
            colors: $lighter, $darker, $t;
            box-shadow: 0 2px 4px -1px $shadow;
            &:hover { colors: $light, 0, $darker; }
        }
    }


    /* Content area. */
    #conversation-view .frame, #pm_main {
        color: var(--light);
        background-color: var(--dark);
    }


    // * Main -> Content.
    #pm_main {
        // Tweak height due to navbar being shorter.
        #wrapper {
            height: calc(100% - 47px);
            #conversation-list-rows {
                // ? Settings -> Custom width for row layout.
                @media screen and (min-width: 1280px) {
                    // Wrapper.
                    .conversation-wrapper {
                        z-index: 1;
                        margin: 0 auto;
                        width: 100%;
                        max-width: var(--width);
                        margin-top: 1px;
                        box-shadow: 0 0 0 1px $darker;
                        colors: 0, 0, $dark;
                    }
                    // Background; apply only on high-res screens.
                    &::before {
                        size = 24px;
                        content: "";
                        opacity: 0.6;
                        position: absolute;
                        top: 0; right: 0; bottom: 0; left: 0;
                        background-image: radial-gradient($darker 1px, $t 0);
                        background-position: center center;
                        background-size: size size;
                    }
                }
            }
            // * Content -> Column view.
            #conversation-list-columns {
                colors: 0, $darker, 0;
            }
        }
        // Conversations.
        .conversation {
            colors: 0, $darker, 0;
            &.read { colors: 0, 0, $t; }
            &.marked::before { colors: 0, 0, $darker; }
            &.selected { box-shadow: 4px 0 0 0 inset $accent; }
            // Remove backgrounds.
            .subject, .pm_labels { background: $t !important; }
            // Highlight unread messages.
            &:not(.read) {
                background-image: linear-gradient(
                    to right, $darker -100%, $dark
                ) !important;
            }
            // Hover event.
            &:hover {
                background-image: none !important;
                colors: 0, 0, $darker;
            }
        }
    }

    // * Content -> Toolbar.
    .pm_toolbar {
        colors: 0, 0, $dark;
        box-shadow: 0 1px 0 0 $darker;
        .pm_buttons {
            colors: $lighter, 0, 0;
            a, button { box-shadow: 0 2px 4px -1px $shadow; }
            &.disabled { &, a { opacity: 0.75 !important; }}
            &-child, a, button {
                colors: 0, $darker, $dark;
                // TODO: Temporary implementation.
                &:hover:not(.fa-ban):not(.fa-archive):not( .fa-trash-o):not(
                    .fa-inbox):not(.fa-times-circle-o) {
                    colors: $light, 0, 0;
                }
            }
            // TODO: Fix disabled buttons.
        }
        .action [class*="LayoutBtns-btn"] {
            transition: 0.15s ease;
            filter: grayscale(100%);
        }
        .paginator {
            box-shadow: 0 2px 4px -1px $shadow;
            a {
                transition: 0.15s ease;
                colors: $lighter, 0, 0;
                box-shadow: none !important;
                &:hover { colors: $light, 0, 0; }
            }
            &[class*="-previous"] > [class*="btn-previous"],
            &[class*="-next"] > [class*="btn-next"] {
                colors: $lighter, 0, 0;
                opacity: 0.6;
            }
        }
    }


    /* Button. */
    .pm_button.primary {
        color: var(--lighter);
        border-color: var(--accent);
        background-color: var(--accent);
    }


    // * Content -> Message view.
    #conversation-view {
        // ? Settings -> Custom width for row layout.
        #pm_thread > article {
            margin: 10px auto;
            max-width: var(--width);
        }
        // Message header.
        header[id*="header" i] {
            colors: 0, $darker, 0;
            h1 {
                padding: 8px 30px 8px 0;
                .starButton {
                    right: 1px; top: 10px;
                    // TODO: Fix and polish animation.
                    &:hover a::before { colors: $accent, 0, 0; }
                }
            }
        }
        // Message content.
        .message {
            radius: $radius;
            colors: 0, $darker, 0;
            .summary:not(._xd) {
                colors: 0, $darker, $t;
                // Transparentize all elements.
                .summary-right:not(._is):not(._xd) { &, * { colors: 0, 0, $t; }}
                // Rounded corners for message body.
                + div .frame { radius: 0 0 $radius $radius; }
            }
            .details {
                colors: 0, $darker, $t;
                // TODO: Possible refactor with global `pm_buttons` styles.
                .action-row .pm_buttons > a {
                    transition: 0.15s ease;
                    colors: $lighter, $darker, $dark;
                    &:hover { colors: $light, 0, $darker; }
                }
                // Alerts and stuff.
                [class*="messageExtra-"] > [class*="-container"] {
                    radius: $radius;
                    colors: $lighter, 0, $darker;
                    a { colors: $accent, 0, 0; }
                    span { colors: $lighter, 0, 0; }
                    button { colors: $lighter, $dark, $darker; }
                }
            }
        }
        // Message area.
        // TODO: Needs more work.
        .message-frame {
            img {
                opacity: 0.3;
                transition: 0.15s ease;
                border-radius: $radius;
                &:hover {
                    opacity: 1;
                    transition-delay: 0.5s;
                }
            }
        }
        // Attachments.
        #attachmentArea {
            colors: 0, $darker, $t;
            .listAttachments-list {
                padding-top: 10px;
                .listAttachments-att {
                    radius: $radius;
                    colors: $lighter, $darker, $dark;
                    &::after { colors: 0, $darker, 0; }
                }
            }
        }
    }


    /* Compose. */
    #pm_composer .composer {
        color: var(--lighter);
        background: var(--darker);
    }
    /* Header. */
    .composerHeader-container,
    .composerOptions-container {
        color: var(--lighter);
        background: var(--darker);
    }
    /* Inputs. */
    .composerInputMeta-overlay,
    #pm_composer .composer .row,
    #pm_composer .composer .row select,
    #pm_composer .composer .row input {
        color: var(--lighter);
        border-color: var(--dark);
        background: var(--darker);
    }

    /* Message area. */
    .composer-container,
    .squire-container {
        color: var(--light);
        background: var(--dark);
    }

    /* Footer. */
    #pm_composer .composer footer,
    .squireEditor-loaded footer {
        border-top-color: var(--darker);
        background: var(--darker);
    }
    /* Buttons. */
    #pm_composer .composer footer .pm_button,
    .squireEditor-loaded footer .pm_button {
        color: var(--light);
        border-color: var(--darker);
        background: var(--dark);
    }
    #pm_composer .composer footer .pm_button.primary {
        background: var(--accent);
    }


    /* Squire popover. */
    .squire-popover {
        border-color: var(--darker);
        background: var(--dark);
    }
    /* Toolbar. */
    [class*="squireToolbar"] {
        border-color: var(--dark);
        background: var(--dark);
    }
    /* Icons on event. */
    [class*="squireToolbar-action-options"],
    [class*="squireToolbar-action-color"],
    [class*="squireToolbar-action-"]:hover {
        border-color: var(--dark) !important;
        background-color: var(--dark) !important;
    }


    /* Expiration settings. */
    .alert,
    .alert.alert-info {
        color: var(--lighter);
        background: var(--dark);
    }
    #pm_composer .composer select {
        border-radius: 0;
        color: var(--lighter);
        background: var(--darker);
    }


    // * Modals.
    .pm_modal {
        .modal-dialog {
            radius: $radius;
            border-width: 1px;
            colors: 0, $darker, $dark;
            .modal-content {
                colors: 0, $darker, $t;
                .modal-body { box-shadow: 0 1px 0 $darker, 0 -1px 0 $darker; }
            }
            .modal-footer { colors: 0, 0, $t; }
        }
        // Buttons.
        .close {
            top: 20px !important;
            right: 20px !important;
            transition: 0.15s ease;
            colors: $light, 0, $t;
            &:hover { colors: $accent, 0, 0; }
        }
        .pm_button {
            radius: $radius;
            transition: 0.15s ease;
            colors: $lighter, $darker, $dark;
            &:hover, &:focus { colors: $light, 0, $darker; }
            &.primary {
                colors: $accent, $accent, 0;
                &:hover, &:focus { colors: $white, $accent, $accent; }
            }
        }
        // TODO: Figure out where exactly this goes.
        .modal-details { colors: 0, $darker, 0; }
        .labelModal-container .pm_button.primary {
            color: var(--lighter);
            border-color: var(--accent);
            background-color: var(--accent);
        }
        .dropzone {
            border-color: var(--shadow);
            background: var(--darker);
        }
    }


    /* Contacts. */
    .contactList-table {
        box-shadow: none;
        background: var(--dark);
    }
    /* Header. */
    .pm_table table th {
        border-bottom-color: var(--shadow);
        background: var(--dark);
    }
    /* On event. */
    .contactList-item-activeContact td,
    .contactList-container .pm_table thead th[data-action]:hover {
        background: var(--shadow);
    }
    /* Text color. */
    .pm_table table td {
        color: var(--light);
    }

    /* Locked fields. */
    .contactDetails-fields-locked {
        background: rgba(0,0,0,0.4);
    }
    /* Modal. */
    .contactDetails-fields-locked-notice {
        border-color: var(--darker);
        background: var(--dark);
    }
    /* Inputs. */
    .contactItem-inputs textarea,
    .contactItem-inputs input:not([type=checkbox]) {
        color: var(--light) !important;
        border-color: var(--darker);
        background: var(--dark);
    }


    // * Settings dashboard.
    .settingsDashboard-container {
        // Overview.
        .overviewSection-container {
            .overviewSection-tbody-billing { background: none !important; }
        }
        // Billing.
        .settingsDashboard-plans {
            colors: 0, 0, $t;
            &, &::after, &::before { background: none !important; }
            [class*="Column-container"] {
                margin: 0 4px 0 0;
                radius: $radius !important;
                colors: $lighter, $darker, $dark;
                box-shadow: none !important;
                > :not(:last-child) { colors: 0, $darker, 0; }
                header {
                    radius: $radius $radius 0 0;
                    colors: 0, $red, 0;
                    box-shadow: none;
                    > .isCurrent {
                        top: -32px;
                        colors: $light, $t, $t;
                        box-shadow: none;
                    }
                }
                // Remove gradients.
                [class*="totalRows-label"] { background: none; }
                // TODO: Move to global components.
                .pm_select {
                    colors: $lighter, $darker, $dark;
                    box-shadow: 0 0 0 1px inset $darker;
                    select:active, select:focus {
                        colors: $light, 0, 0;
                        box-shadow: 0 0 0 1px inset $accent;
                    }
                }
            }
        }
    }
}
