/* ==UserStyle==
@name         Dark ProtonMail by Mew
@description  Dark theme ProtonMail.
@version      0.3.1
@namespace    gitlab.com/vednoc/dark-protonmail
@homepageURL  https://gitlab.com/vednoc/dark-protonmail
@supportURL   https://gitlab.com/vednoc/dark-discord/issues
@updateURL    https://gitlab.com/vednoc/dark-protonmail/raw/master/pm.user.styl
@author       vednoc
@license      MIT
@preprocessor stylus

@var checkbox layout_buttons "Custom layout buttons" 1
@var checkbox remove_outline "Remove outline from all elements" 0

@var text b_radius "Custom border radius" 4px
@var text max_width "Custom width for row layout" 1000px
@var text sidebar_width "Custom sidebar width" 200px
@var text ui_font "Custom UI font" "'custom_font', Arial, Helvetica Nue, Helvetica, sans-serif !important"
@var text mo_font "Custom mono font" "'custom_font', 'mono', monospace !important"
@var text bg_image "Custom background" "url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAYElEQVQ4je3ToRlAIQiFUWdiEvdxEILJCQivksg0usVF7O8atfHHE7kfZc75lV+9dzAzA2utgWUXWmvBYccYYLVWsIjIUV50Ora7g53GO31UdiFVhcMSERgzg4lIjvKgDW1KKbJCEZa/AAAAAElFTkSuQmCC')"

@var color dark    "Dark color.   " #222222
@var color darken  "Darken color. " #282828
@var color darker  "Darker color. " #2f2f2f
@var color light   "Light color.  " #d1d1d1
@var color lighter "Lighter color." #c9c9c9
@var color accent  "Accent color. " #7289da
@var color yellow  "Yellow color. " #f0c674
@var color orange  "Orange color. " #de935f
@var color red     "Red color.    " #a54242
@var color magenta "Magenta color." #b294bb
@var color violet  "Violet color. " #85678f
@var color blue    "Blue color.   " #5f819d
@var color cyan    "Cyan color.   " #5e8d87
@var color green   "Green color.  " #8c9440
@var color white   "White color.  " #ffffff
@var color shadow  "Shadow color. " #00000020

==/UserStyle== */

@-moz-document regexp("https?://(mail|beta).protonmail.com/.*") {
    :root {
        scrollbar-color: var(--darker) var(--dark);
        --note    : "Dark-ProtonMail v0.3.1";
        --dark    : dark;
        --darken  : darken;
        --darker  : darker;
        --light   : light;
        --lighter : lighter;
        --accent  : accent;
        --shadow  : shadow;
        --bshadow : 0 2px 4px var(--shadow);
        --yellow  : yellow;
        --orange  : orange;
        --red     : red;
        --magenta : magenta;
        --violet  : violet;
        --blue    : blue;
        --cyan    : cyan;
        --green   : green;
        --white   : white;
        --t       : transparent !important;
        --width   : max_width;
        --sidebar : sidebar_width;
        --radius  : b_radius;
        --bg-image: bg_image;
        --ui-font : ui_font;
        --mo-font : mo_font;
    }

    // * Use stylus-lang variables with CSS variables.
    bg      = var(--dark);
    hl      = var(--darken);
    bd      = var(--darker);
    fg      = var(--light);
    cm      = var(--lighter);
    ac      = var(--accent);
    sh      = var(--shadow);
    bsh     = var(--bshadow);
    yellow  = var(--yellow);
    orange  = var(--orange);
    red     = var(--red);
    magenta = var(--magenta);
    violet  = var(--violet);
    blue    = var(--blue);
    cyan    = var(--cyan);
    green   = var(--green);
    white   = var(--white);
    r       = var(--radius);
    rc      = calc(var(--radius) - 1px);
    t       = var(--t);
    outer   = 0 0 0 1px bd;
    inner   = inset outer;

    // Color mixin.
    // All colors: `c: fg bd bg;`
    // Only border-color: `c: 0 bd;`
    c(x, y = 0, z = 0, xi = 1, yi = 1, zi = 1) {
        if x is a 'call' or x is a 'rgba' {            color: xi is 0 ? x : x !important }
        if y is a 'call' or y is a 'rgba' {     border-color: yi is 0 ? y : y !important }
        if z is a 'call' or z is a 'rgba' { background-color: zi is 0 ? z : z !important }
    }
    // SVG colors.
    v(x, y = 0, xi = 1, yi = 1) {
        if x is a 'call' or x is a 'rgba' {   fill: xi is 0 ? x : x !important }
        if y is a 'call' or y is a 'rgba' { stroke: yi is 0 ? y : y !important }
    }
    // Border radius mixin.
    rad() { border-radius: arguments }

    /* Scrollbars. */
    ::-webkit-scrollbar {
        width: 10px !important;
        &-scrollbar-thumb {
            border: 1px solid bg;
            background-color: bd;
            &:hover, &:active { background-color: ac }
        }
        &-scrollbar-track { background-color: bg }
    }


    body {
        c: cm 0 bg;

        // * Feature -> Custom UI font.
        &, .pm_opensans, [class*="header"] {
            font-family: var(--ui-font);
        }

        // * Global -> Change layout buttons.
        #tour-layout [class*="Btns-btn-"]:hover,
        &[class*="Body-rows"] #tour-layout [class*="Btns-btn-rows"],
        &:not([class*="Body-rows"]) #tour-layout [class*="Btns-btn-column"] {
            c: ac 0 hl;
            box-shadow: inset bsh !important;
        }

        // * Feature -> Custom layout buttons.
        if ( layout_buttons == 1 ) {
            #tour-layout [class*="LayoutBtns-btn-column"] {
                img { display: none !important }
                &::before { content: "Col" }
            }
            #tour-layout [class*="LayoutBtns-btn-row"] {
                img { display: none !important }
                &::before { content: "Row" }
            }
        }

        // * Global -> Custom background.
        &[class*="Body-rows"] #conversation-view, #conversation-list-rows {
            position: relative;
            &::before {
                z-index: -1;
                size = 20px;
                content: "";
                opacity: 0.15;
                position: absolute;
                top: 0; right: 0; bottom: 0; left: 0;
                background: var(--bg-image);
                background-position: center center;
                background-size: size size;
            }
        }

        // * Feature -> Remove `outline` from all elements.
        if ( remove_outline == 1 ) {
            * { outline: none !important }
        }
    }

    ::placeholder { c: cm }
    h1, h2, h3, h4, h5, h6, strong { c: cm }
    a, p a {
        text-decoration: none;
        c: ac 0 0 0;
    }
    select { c: fg 0 bd 1 0 0 }
    blockquote { border-left-color: ac }
    section { c: 0 bd }
    input {
        c: cm;
        background: none !important;
    }
    kbd {
        c: cm 0 bg 0 0 0;
        box-shadow: inner;
    }

    .pm_panel {
        c: cm 0 0 0;
        &.alt { c: 0 0 t 0 0 0 }
    }

    // * Login page.
    #login {
        background-image: none !important;
        .pm_panel-login__inner {
            padding: 20px 30px 0;
            rad: r;
            c: 0 bd bg;
            box-shadow: 0 4px 16px -2px sh;
            .link {
                text-decoration: underline;
                c: cm;
            }
            img[class="logo"] { display: none }
            input {
                rad: r;
                c: cm bd;
                box-shadow: inset bsh;
            }
            button {
                rad: r;
                transition: 0.15s ease;
            }
            // New user notice.
            [class*="-new-title"] {
                &::before, &::after { c: 0 bd 0 }
            }
        }
        // `Beta` promotion.
        .pm_panel-bottom {
            padding: 10px 20px;
            text-align: center;
            a { c: ac 0 0 }
        }
        [class*="link-signup-button"] {
            rad: r;
            c: cm bd hl;
            transition: 0.15s ease;
            &:hover { c: fg 0 bd }
        }
        #pm_footer { c: cm }
        #pm_footer a { c: ac }
    }

    // * Navbar.
    header[class*="header"] {
        min-height: 50px;
        c: cm t bg;
        box-shadow: 0 1px bd;
        // Re-imagine the logo.
        [class*="securedDesktop-logo" i] {
            height: 51px;
            padding: 0;
            c: fg 0 t;
            // * Feature -> Custom sidebar width.
            @media screen and (min-width: 900px) {
                width: var(--sidebar);
            }
            &::before {
                width: unset;
                height: unset;
                font-size: 1.4em;
                content: "ProtonMail";
                transition: 0.15s ease;
                background: none;
            }
            &:hover { c: ac }
        }
        // Navigation on the right.
        .navigation > {
            li {
                border: none;
                min-height: 51px;
                transition: 0.15s ease;
                c: cm;
                &:hover, a.active { c: fg 0 bd }
            }
        }
        // Sub-nav height reset.
        >[class*="Desktop-container"] {
            height: auto;
            max-height: 51px;
        }
        // New update notifier!
        [class*="-newVersion-info"] {
            left calc(50% + 2px);
            top: 8px !important;
            c: 0 0 ac;
            // Alert in the dropdown.
            + .pm_dropdown [class*="newVersion-container"] {
                rad: r;
                c: fg ac t;
            }
        }
        // Login page.
        .newBugReport-container:hover { c: fg 0 hl }
    }

    // * Search bar.
    [class*="searchForm-container"] {
        // Search area.
        .search-form-fieldset {
            rad: r;
            c: cm 0 bg;
            box-shadow: inner;
        }
        // Toggle button.
        [class*="-action-button-"]:hover { c: 0 0 t }
        // Dropdown.
        .searchForm-advanced-container {
            rad: r;
            c: 0 0 bg;
            box-shadow: outer, 0 2px 8px 0 sh;
            // Fields background reset.
            [class*="searchForm-advanced-"] { c: cm 0 t }
            label, .fa { color: fg; }
            // Inputs and buttons.
            input, button {
                rad: r;
                box-shadow: 0 1px 4px 0 inset sh;
                c: 0 bd;
                &:focus { c: 0 blue }
                &[type="submit"] { &, .fa { c: white blue blue }}
            }
            // Select menus.
            .pm_select {
                rad: r;
                c: 0 0 t;
                box-shadow: inner;
                select {
                    rad: r;
                    box-shadow: inset bsh;
                    &:focus { box-shadow: inset 0 0 0 1px blue }
                }
            }
            // Header.
            [class*="-advanced-main"] {
                box-shadow: 0 1px bd;
            }
        }
    }

    // * Global -> Buttons.
    .pm_button {
        rad: r;
        c: cm bd bg;
        transition: 0.15s ease;
        &:hover { c: fg 0 hl }
        &.primary:not(#z) {
            c: white ac ac;
            &:hover { opacity: 0.8 }
        }
    }

    // * Global -> Pagination.
    .paginator {
        > a {
            transition: 0.15s ease;
            c: cm bd bg;
            &:hover { c: fg }
            // &:last-child { rad: 0 r r 0 }
            // &:first-child { rad: r 0 0 r }
        }
        &[class*="-prev"] > [class*="btn-prev"] i,
        &[class*="-next"] > [class*="btn-next"] i {
            c: cm;
            opacity: 0.3;
        }
        // * Contacts -> Reset button background.
        a {
            c: 0 bd t;
            box-shadow: none !important;
        }
    }

    // * Global -> Custom button colors.
    .fa.fa {
        color: cm;
        &-star { c: ac }
        &-trash-o { &, &:hover { c: red }}
        &-inbox { &, &:hover { c: blue }}
        &-archive { &, &:hover { c: cyan }}
        &-ban { &, &:hover { c: orange }}
        &-times-circle-o { &, &:hover { c: red }}
        &-send { &, &:hover { c: green }}
        &-folder { &, &:hover { c: yellow }}
        &-search { &, &:hover { c: cm }}
        // ? Inherit label's custom color.
        &[data-label-id] { color: inherit !important }
    }

    // * Global -> Tooltips.
    .tooltip {
        rad: r;
        color: white;
        background-color: black;
        &-arrow { border-color: black }
    }

    // * Global -> Notifications.
    .cg-notify-message {
        rad: r;
        box-shadow: bsh !important;
        &.notification-success {
            c: 0 0 green;
            span { c: white }
        }
    }

    // * Global -> Labels.
    .pm_labels {
        [class*="-label"] {
            transition: 0.15s ease;
            rad: calc(var(--radius) / 2);
            border: 1px solid !important;
            &:hover { opacity: 0.6; }
            // Fixes label misalignment in messages.
            [class*="-name"] {
                overflow: unset;
                padding: 0.2rem;
            }
        }
    }

    // * Global -> Tables.
    .pm_table > table {
        c: 0 0 t;
        box-shadow: none;
        thead th {
            c: fg bd t;
            // Sort buttons.
            .fa.fa-sort { &-desc, &-asc { c: cm }}
        }
        tbody tr {
            // Active row.
            &[class*="-activeContact"] td {
                c: fg bd bd;
                span { &, * { color: inherit }}
            }
            // Indicator.
            &[class*="-activeCursor"] td:first-child {
                box-shadow: inset 4px 0 ac;
            }
            // Table cells.
            td {
                border-left: none;
                c: cm;
                ../:hover td { c: fg bd bd }
            }
        }
    }

    // * Global -> Loader.
    .pm-loader-fullpage { c: 0 0 bg }

    // * Global -> Loading.
    #pm_loading {
        c: 0 0 bg;
        box-shadow: 0 2px 8px sh;
        &::after {
            border: 5px solid bd;
            border-top-color: ac;
        }
        svg path { fill: ac }
    }

    // * Global -> Atom lodaer.
    #pm_slow, #pm_slow2, [class*="loadingUnlock-"] {
        c: cm 0 bg;
        .atomLoader {
            &-proton { c: 0 0 fg }
            &-item, &-item2, &-item3 { c: 0 cm }
            &-text { c: cm }
        }
    }

    // * Global -> Storage.
    .storageProgress-container, .storageArea {
        .link span { c: ac }
        .storageBar {
            c: 0 0 bd;
            &-progress { c: 0 0 ac }
        }
        // Hide version number.
        + .version { display: none }
    }

    // * Global -> Checkboxes.
    .customCheckbox-input {
        + .customCheckbox-mask {
            c: 0 bd bg;
            background-image: none;
            ../:checked + .customCheckbox-mask {
                position: relative;
                &::before {
                    content: "";
                    position: absolute;
                    top: 1px; left: 4px;
                    width: 6px; height: 10px;
                    border-right: 2px solid;
                    border-bottom: 2px solid;
                    transform: rotate(45deg);
                    c: 0 fg;
                }
            }
        }
    }

    // * Global -> Radials.
    .customRadio-input {
        + .customRadio-mask {
            background-image: none;
            c: 0 bd bg;
            ../:checked + .customRadio-mask {
                box-shadow: inset 0 0 0 3px bd, inset 0 0 0 10px ac;
            }
        }
    }

    // * Global -> Dropdowns.
    .pm_dropdown {
        rad: r !important;
        c: 0 bd bg;
        box-shadow: 0 2px 8px -1px sh;
        .dropdown-folder-title { c: 0 bd }
        // Text color; exludes colored labels.
        a, span:not([style]), button { c: cm bd }
        // Folders.
        .scrollbox-container {
            c: 0 bd t;
            background-image: none;
            /* Remove weird gradients. */
            &::before, &::after { display: none }
        }
        // Wide dropdowns.
        &.wide {
          padding: 16px;
          > * { padding: 0 8px !important }
        }
        > a, > button, > ul > li { &:hover { c: 0 0 bd }}
    }

    // * Welcome section.
    #pm_view #pm_latest {
        header {
            padding: 8px 24px;
            c: fg bd;
        }
        section {
            padding: 0.5rem;
            margin: 8px;
            rad: r;
            span { c: cm }
            strong { c: ac }
            img { filter: invert(1) hue-rotate(180deg) opacity(0.2) }
        }
    }

    // * Command pallete.
    [class*="commandPalette-container"] {
        rad: r;
        c: 0 0 bg;
        box-shadow: 0 2px 8px -2px sh;
        // Input section.
        [class*="autocomplete-c"] {
            rad: r;
            c: 0 0 bg;
            box-shadow: outer;
        }
        // Commands.
        [class*="Emails-"] {
            max-height: 150px;
            c: 0 0 t;
            // Items.
            .needsclick {
                transition: 0.15s ease;
                c: 0 bd 0;
                &[aria-selected="false"] { c: cm 0 bg }
                &[aria-selected="true"], &:hover { c: fg 0 bd }
            }
        }
    }

    // * Sidebar.
    #ptSidebar {
        min-width: unset;
        border-right: 1px solid;
        c: 0 bd bg;
        height: calc(100% - 51px);
        // 'All Mail' missing icon.
        button + .menu > li:last-child .fa::before { content: '\f0e0' }
        // * Feature -> Custom sidebar width.
        @media screen and (min-width: 900px) {
            width: var(--sidebar);
        }
        .sidebarApp-item {
            // List items.
            .navigationItem-item {
                transition: 0.15s ease;
                c: cm;
                .navigationItem-counter { color: inherit }
                .navigationItem-aside { background: none }
                ../:hover:not(.active) > a { c: fg 0 hl }
            }
            &.active {
                c: fg 0 bd;
                // Fixes icon colors.
                a, span { color: inherit !important }
            }
            // Remove the gradient.
            &::after { background: none !important }
            // Use filled style for starred messages icon.
            .fa.fa-star-o {
                c: ac;
                &::before { content: "\f005" }
            }
        }
        // Labels.
        .sidebarApp-link { c: fg }
        .menuLabel-item {
            em { c: cm }
            .menuLabel-link {
                transition: 0.15s ease;
                c: cm;
                ../.active .menuLabel-title { c: fg }
                ../:hover .menuLabel-link { c: fg 0 hl }
            }
        }
        // Compose/back button.
        [class*="-compose"], [class*="-back"] {
            margin: 16px 0;
            font-weight: bold;
            rad: r;
            transition: 0.15s ease;
            c: fg bd hl;
            box-shadow: bsh;
            &:hover { opacity: 0.8 }
        }
        // Scrollbar.
        [class*="_draggerContainer"] {
            [class*="Rail"] { c: 0 0 bd }
            [class*="_bar"] { c: 0 0 ac }
        }
    }

    // * Main -> Content.
    #pm_main {
        color: fg;
        background-color: t;

        // * Feature -> Custom sidebar width.
        @media screen and (min-width: 900px) {
            width: calc(100% - var(--sidebar)) !important;
        }
        #wrapper {
            // Tweak height due to navbar being shorter.
            height: calc(100% - 40px);
            // ? Settings -> Custom width for row layout.
            @media screen and (min-width: 1280px) {
                .conversation-wrapper > .conversation {
                    margin: 0 auto;
                    max-width: var(--width);
                    box-shadow: 1px 0 bd, -1px 0 bd;
                }
            }
            // * Content -> Row view.
            #conversation-list-rows {}
            // * Content -> Column view.
            #conversation-list-columns {
                c: 0 bd bg;
            }
        }
        // Conversations.
        .conversation {
            c: 0 bd bg;
            &.read { c: 0 0 bg }
            &.marked::before {
                width: 4px;
                c: 0 0 green;
            }
            // Remove backgrounds.
            .subject, .pm_labels { background: t !important }
            // Highlight unread messages.
            &:not(.read) {
                background-image: linear-gradient(
                    to right, hl, bg
                ) !important;
            }
            // Hover event.
            &:hover {
                background-image: none !important;
                c: 0 0 hl;
            }
        }
    }

    // * Content -> Toolbar.
    .pm_toolbar {
        padding: 8px !important;
        c: 0 0 bg;
        box-shadow: 0 1px bd;
        // Reset height.
        &, .elements-selector { height: unset }
        .pm_buttons {
            c: cm;
            a, button { box-shadow: bsh }
            &-child, a, button {
                c: 0 bd bg;
                // TODO: Temporary implementation.
                &:hover:not(.fa-ban):not(.fa-archive):not(.fa-trash-o):not(
                    .fa-inbox):not(.fa-times-circle-o) {
                    c: fg;
                }
                &.active, &:hover { c: fg 0 hl }
            }
            &.disabled {
                &, a[class] {
                    opacity: 0.75 !important;
                    c: cm bd bd;
                    box-shadow: none !important;
                }
            }
        }
        .action [class*="LayoutBtns-btn"] {
            transition: 0.15s ease;
            img { filter: grayscale(100%) }
            &:focus { c: fg 0 bg }
        }
    }

    // * Content -> Message view.
    #conversation-view {
        #pm_thread {
            padding: 0 10px;
            // ? Settings -> Custom width for row layout.
            > article {
                margin: 10px auto;
                max-width: var(--width);
            }
        }
        // Message header.
        header[id*="Header"] {
            z-index: 1;
            c: 0 bd bg;
            h1 {
                letter-spacing: 0;
                padding: 8px 30px 8px 0;
                .starButton {
                    right: 1px; top: 10px;
                    // TODO: Fix and polish animation.
                    &:hover a::before { c: ac }
                }
            }
        }
        // Message content.
        .message {
            rad: r;
            c: 0 bd bg;
            &.open {
                box-shadow: bsh;
                .summary { rad: rc rc 0 0 }
                // When 'show details' is active.
                &.details:not(.xd) {
                    .summary { height: auto }
                    .meta .contact em {
                        position: unset;
                        display: inline;
                        bottom: 0;
                        c: fg;
                    }
                }
            }
            &.unread {
                c: 0 0 bd;
                > .summary { c: 0 0 bd }
            }
            .more {
                margin: 0 !important;
                c: fg bd bg;
                &:not([class*='-toggle']) { c: ac ac }
                /// Fix the specificity conflict.
                + .protonmail_quote { margin-top: 15px !important }
            }
            .summary {
                c: 0 bd hl;
                // Summary in un-open message state.
                ../:not(.open) > .summary { rad: rc }
                // Transparentize all elements.
                .summary-right:not(#sc) { &, * { c: 0 0 t }}
                // Message body.
                + div .frame {
                    padding: 10px;
                    rad: 0 0 rc rc;
                    c: 0 0 bg;
                }
                .pm_badge, .pm_tag { c: cm 0 bd }
            }
            .details {
                padding: 8px 8px 0;
                border-top: 1px solid bd;
                c: 0 bd hl;
                .action-row {
                    .toggleDetails { c: ac 0 t }
                    // TODO: Refactor.
                    .pm_buttons > a {
                        transition: 0.15s ease;
                        c: cm bd bg;
                        &.active, &:hover { c: fg 0 bd }
                    }
                }
                // Alerts and stuff.
                [class*="messageExtra-"] > [class*="-container"] {
                    padding: 8px 0;
                    margin: 0;
                    c: cm 0 t;
                    border-top: 1px solid bd;
                    a { c: ac }
                    span { c: fg }
                }
            }
            // ? Scroll past the last message in conversations.
            &:last-child { margin-bottom: 50vh !important }
        }
        // Message area.
        // TODO: Needs more work.
        .message-frame {
            a {
                img {
                    opacity: 0.3;
                    pointer-events: all;
                    transition: 0.15s ease;
                    border-radius: r;
                    ../:hover img {
                        opacity: 1 !important;
                        transition-delay: 0.5s;
                    }
                }
            }
            blockquote { c: cm bd 0 }
            pre {
                rad: r;
                c: fg bd bg;
                box-shadow: bsh;
            }
            div[style*="background"] { c: 0 0 t }
            [style*="border"] { c: 0 bd }
            // ! Possibly reset custom emails.
            .bodyDecrypted {
                /// HACK: GMail quotes don't have a toggle. :PepeHands:
                .gmail_quote {
                    opacity: 0.3;
                    max-height: 32px;
                    overflow: hidden;
                }
                // * Feature -> Custom code font.
                &.plain { font-family: var(--mo-font) }
                // Try to center the content.
                > div[style*="width"] { margin: 0 auto !important }
                a[style*="color"] {
                    c: blue;
                    &:hover { text-decoration: underline }
                }
                div, p, span, i { c: fg }
                h1, h2, h3, h4, h5, h6 { c: fg }
                table { tr, th, td { c: cm bd bg }}
                img { filter: invert(1) hue-rotate(180deg) !important }
            }
        }
        // Attachments.
        #attachmentArea {
            c: 0 bd t;
            .listAttachments-list {
                padding-top: 10px;
                .listAttachments-att {
                    rad: r;
                    c: cm bd bg;
                    &::after { c: 0 bd 0 }
                }
            }
        }
    }

    // * Messages -> Full-width labels in the row mode.
    #pm_main .conversation-wrapper .conversation .subject {
        position: relative;
        padding-left: 0;
        display: flex;
        h4 {
            display: flex;
            flex: 1 1 auto;
            max-width: unset !important;
            overflow-x: auto !important;
        }
        .pm_labels {
            all: unset !important;
            display: flex !important;
            flex: 0 0 auto !important;
            > div[class*='labelsElement-'] {
                padding: 1.5px;
                transition: 0.15s ease;
                border: 1px solid !important;
                rad: 3px;
                c: 0 0 bg;
                &:hover { opacity: 0.6 }
                // Stacked labels.
                ^[1][data-format="stack"] [class*="-label"] {
                    max-width: unset;
                }
            }
            // More labels button.
            [class*="-more"] {
                margin-left: 0.25rem;
                c: cm cm 0;
            }
        }
    }

    // * Content -> Composer.
    #pm_composer .composer {
        rad: r;
        border: 1px solid;
        c: cm bd bg;
        box-shadow: bsh;
        // Header.
        // TODO: Optimize for different components.
        &Header-container, &Options-container {
            c: fg 0 bd;
        }
        // Inputs.
        .row {
            &, select, input { c: cm bd t }
            .composerInputMeta-overlay { c: fg 0 bd }
            .svg-ellipsis-clipper { display: none }
        }
        footer { c: fg bd t }
        // TODO: Possible refactor with global `pm_button` styles.
        .pm_button {
            rad: calc(var(--radius) / 2);
            transition: 0.15s ease;
            c: cm bd bg;
            &:hover { c: fg 0 bd }
            &.primary {
                c: white ac ac;
                &:hover { c: ac 0 bd }
            }
        }
    }

    // * Content -> Composer additions.
    .squire-container {
        c: 0 0 bg;
        input, select, textarea { c: fg 0 bg }
        // Popouts.
        .squire-popover {
            c: 0 bd bg;
            &, &-second { rad: r !important }
        }
        // Toolbar.
        .squire-toolbar {
            rad: r r 0 0;
            button { rad: r }
        }
        [class*="squireToolbar"] {
            c: 0 bd t;
            // Dropdown list.
            [class*="-select-list"] {
                c: 0 0 bg;
                box-shadow: bsh;
                > li {
                    padding: 0 1.5rem;
                    c: cm;
                    &:hover { c: fg 0 bd }
                }
            }
            // On event.
            [class*="squireToolbar-action-"] {
                c: 0 bd bg;
                &:hover { c: 0 0 bd }
                [class*="triangle-with-shadow"]::after {
                    border-width: 5px;
                    c: 0 bd bg;
                }
            }
        }
        // Encrypt.
        header[class*="Encrypt-"] { c: 0 0 t }
        // * Feature -> Custom code font.
        .plaintext-editor { font-family: var(--mo-font) }
    }
    // Expiration settings.
    .alert, .alert.alert-info {
        c: fg 0 t;
        input[type], .pm_select {
            border-radius: calc(var(--radius) / 2) !important;
            c: fg bd bg;
        }
    }

    // * Squire -> Text area.
    .angular-squire-wrapper {
        margin-top: -1px;
        c: 0 bd 0;
        &, & > iframe { rad: 0 0 r r }
    }


    // * Modals.
    .pm_modal {
        .modal-dialog {
            rad: r;
            border-width: 1px;
            c: 0 bd bg;
            .modal-content {
                c: 0 bd t;
                .modal-body {
                    box-shadow: 0 1px bd, 0 -1px bd;
                    // On draft deletion.
                    .alert { c: 0 0 hl }
                }
            }
            .modal-footer { c: 0 0 t }
        }
        .modal-overlay {
            opacity: 0.8;
            c: 0 0 bg;
        }
        // Buttons.
        .close {
            top: 20px !important;
            right: 20px !important;
            transition: 0.15s ease;
            c: fg 0 t;
            &:hover { c: ac }
        }
        .pm_button {
            rad: r;
            transition: 0.15s ease;
            c: cm bd bg;
            &:hover, &:focus { c: fg 0 bd }
            &.primary {
                c: ac ac;
                &:hover, &:focus { c: white ac ac }
            }
        }
        // TODO: Figure out where exactly this goes.
        .modal-details { c: 0 bd 0 }
        .labelModal-container .pm_button.primary { c: white ac ac 0 0 0 }
        .dropzone { c: 0 bd hl }
    }


    // * Contacts.
    .contacts-container {
        [class*="toolbar" i] {
            c: 0 bd;
            button {
                c: cm bd;
                &:hover { c: fg 0 bd }
                &.primary { c: ac ac }
            }
        }
        .contactList-container {
            c: 0 bd t;
        }
    }


    // * Settings dashboard.
    .settingsDashboard-container {
        // Overview.
        .overviewSection-container {
            .overviewSection-tbody-billing { background: none !important; }
        }
        // Billing.
        .settingsDashboard-plans {
            c: 0 0 t;
            &, &::after, &::before { background: none !important }
            [class*="Column-container"] {
                margin: 0 4px 0 0;
                rad: r !important;
                c: cm bd bg;
                box-shadow: none !important;
                > :not(:last-child) { c: 0 bd }
                header {
                    rad: r r 0 0;
                    c: 0 red;
                    box-shadow: none;
                    > .isCurrent {
                        top: -32px;
                        c: fg t t;
                        box-shadow: none;
                    }
                }
                // Remove gradients.
                [class*="totalRows-label"] { background: none; }
                // TODO: Move to global components.
                .pm_select {
                    c: cm bd bg;
                    box-shadow: inner;
                    select:active, select:focus {
                        c: fg;
                        box-shadow: inset 0 0 0 1px ac;
                    }
                }
            }
        }
    }
}
